
/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


.container {
  width: 1024px;
}

h1 {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-image: url(../images/gsdbingaman.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // width: 1024px;
  /*max-width: 1080px;
  max-height: 2256px;*/
  color: red;

  &::before {
    content: "";
    background-color: rgba(5, 5, 5, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
}

/*************************************************
HEADER
*************************************************/



header {
  margin-top: 8px;
}

ul {
  list-style: none;
}


.sub {
  float: right;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  color: #FCFCFC;

  // &::after {
  //
  //
  // }
}

.soc-head {
  float: right;
  display: inline-block;

  li {
    display: inline-block;
    margin-left: 8px;
  }
}

.fb{
  display: inline-block;
  background-color: #445897;
  height: 40px;
  width: 40px;

  i {
    display: inline-block;
    position: relative;
    top: 8px;
    left: 12px;
    color: #7583B3;
  }
}

.rss {
  display: inline-block;
  background-color: #CD9031;
  height: 40px;
  width: 40px;

  i {
    display: inline-block;
    position: relative;
    top: 6px;
    left: 4.5px;
    color: #DAAC6E;
  }
}

.twitter {
  display: inline-block;
  background-color: #698DC7;
  height: 40px;
  width: 40px;

  i {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 5px;
    color: #90A8D4;
  }
}

.youtube {
  display: inline-block;
  background-color: #B1382D;
  height: 40px;
  width: 40px;

  i {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 8px;
    color: #C46A61;
  }
}

nav {
  color: white;
  width: 1024px;

  li {
    background-color: #82111C;
    // margin-left: 8px;
    display: inline-block;
  }
}



/*************************************************
CONTENT SCROLL ARTICLES
*************************************************/



.content-scroll {
  a {
    background: url(../skateboard-images/top-image.png) center center;
    background-size: cover;
    height: 337px;
    border: 5px solid white;
    display: inherit;
    position: relative;
    margin: 0 auto;
    // width: 1024px;
  }
}



/*************************************************
ARTICLES
*************************************************/

.articles {
  width: 1024px;
  margin-top: 30px;
}

.art-background {
  background-color: white;
  height: 350px;
  // width: 334px;
  h1 {
    display: inline-block;
    font-size: 20px;
    padding-top: 29px;
    padding-left: 27px;
    padding-right: 33px;
    text-transform: capitalize;
    font-weight: 400;
    color: black;
  }

  span {
    display: inline-block;
    font-size: 10px;
    margin-top: 19px;
    margin-bottom: 19px;
    padding-left: 27px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
  }

  p {
    display: inline-block;
    font-size: 10px;
    padding-left: 27px;
    padding-right: 33px;
    line-height: 20px;
    font-weight: 500;
    color: black;

  }

  a {
    display: inline-block;
    margin-left: 116px;
    margin-right: 116px;
    text-decoration: none;
    font-weight: bold;
    color: #B12631;
    // margin-top:;
  }
}

.tony-hawk {

  a {
    margin-top: 11px;
  }
}

.rodney {
  background-color: white;
  background-clip: content-box;

  a {
    margin-top: 11px;
  }
}

.ray-b {
  background-color: white;
  background-clip: content-box;

  a {
    margin-top: 34px;
  }
}


/*************************************************
SKATEBOARDERS
*************************************************/



.skateboarders {
  height: 476px;
  margin-top: 27px;
}

.lance-m {

}

.mountain {
  background-image: url(../skateboard-images/sk8er-4.png);
  background-size: cover;
  background-position: center;
  height: 222px;
  border: 5px solid white;
}

.mullen {
  background-image: url(../skateboard-images/sk8er-3.png);
  background-size: cover;
  background-position: center;
  height: 222px;
  border: 5px solid white;
}

.cab {
  background-image: url(../skateboard-images/sk8er-1.png);
  background-size: cover;
  background-position: center;
  height: 222px;
  border: 5px solid white;
  margin-top: 20px;
}

.tommy {
  background-image: url(../skateboard-images/sk8er-2.png);
  background-size: cover;
  background-position: center;
  height: 464px;
  border: 5px solid white;

}




/*************************************************
DECKS
*************************************************/



.decks {
  background-image: url(../skateboard-images/decks.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  // width: 1024px;
  height: 295px;
}



/*************************************************
FOOTER
*************************************************/



ul {
  list-style: none;
}

footer {
  background-color: #fcfcfc;
  position: relative;
  margin-top: 27px;
  margin-bottom: 45px;
  color: #31322C;

  h4 {
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 10px;
  }

  p {
    margin-top: 35px;
    margin-left: 40px;
  }

  ul {
    margin-top: 35px;
  }
}


// .sub {
//   float: right;
//   display: inline-block;
// }

.soc-foot {
  display: inline-block;

  li {
    display: inline-block;
  }
}

.fb-foot {
  display: inline-block;
  background-color: #505050;
  height: 30px;
  width: 30px;

  i {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 9px;
    color: #7A7A7A;
  }
}

.rss-foot {
  display: inline-block;
  background-color: #AEAEAE;
  height: 30px;
  width: 30px;

  i {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5.5px;
    color: #C7C7C7;
  }
}

.twitter-foot {
  display: inline-block;
  background-color: #7B7B7B;
  height: 30px;
  width: 30px;

  i {
    display: inline-block;
    position: relative;
    top: 6px;
    left: 5px;
    color: #A0A0A0;
  }
}

.youtube-foot {
  display: inline-block;
  background-color: #757575;
  height: 30px;
  width: 30px;

  i {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 8px;
    color: #989898;
  }
}


textarea {
  margin-top: 28px;
}
