/*************************************************
MAIN
*************************************************/



.container {

}


body {
  background-image: url(images/gsdbingaman.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*max-width: 1080px;
  max-height: 2256px;*/
  color: red;
}

.overlay {
  display: inline-block;
  position: relative;
  height: auto;
  width: auto;
  background-color: rgba(5, 5, 5, 0.5);
}

header {
  /*float: right;*/
}

ul {
  list-style: none;
}

a {
  color: white;
}


/*************************************************
HEADER
*************************************************/



.sub {
  float: right;
}

.sub::after {
  content: "";
  display: block;
  clear: both;
}

#soc-head {
  /*display: inline-block;*/
  /*float: right;*/
}

.fb {
  display: inline-block;
  background-color: #445897;
  height: 40px;
  width: 40px;
}

.fb > i {
  display: inline-block;
  position: relative;
  top: 8px;
  left: 12px;
  color: #7583B3;
}

.rss {
  display: inline-block;
  background-color: #CD9031;
  height: 40px;
  width: 40px;
}

.rss > i {
  display: inline-block;
  position: relative;
  top: 6px;
  left: 4.5px;
  color: #DAAC6E;
}

.twitter {
  display: inline-block;
  background-color: #698DC7;
  height: 40px;
  width: 40px;
}

.twitter > i {
  display: inline-block;
  position: relative;
  top: 7px;
  left: 5px;
  color: #90A8D4;
}

.youtube {
  display: inline-block;
  background-color: #B1382D;
  height: 40px;
  width: 40px;
}

.youtube > i {
  display: inline-block;
  position: relative;
  top: 7px;
  left: 8px;
  color: #C46A61;
}



/*************************************************
NAVIGATION
*************************************************/



.article-nav {
  display: inline-block;
  margin: 0 auto;
}

#nav-links {
}

.sk8-news > a {
  background-color: #B4272D;
}

.sk8-b > a {
  background-color: #B4272D;
}

.board-d > a {
  background-color: #B4272D;
}

.contact-us > a {
  background-color: #B4272D;
}




/*************************************************
Scroll Adds
*************************************************/




.content-scroll a {
  background-image: url(images/Photographer-three-IS099LL1R2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inherit;
  position: relative;
  margin: 0 auto;
  height: 337px;
  width: 1003px;
}



/*************************************************
ARTICLES
*************************************************/



.tony-hawk {
  background-color: white;
  display: inherit;
}

.rodney {
  background-color: white;
  display: inherit;
}

.ray-b {
  background-color: white;
  display: inherit;
}


/*************************************************
SKATERS
*************************************************/
